/*
    ## GRID alinhamentos 
        - content

        `align-content` eixo y / vertical
        `justify-content` eixo x / horizontal
        `place-content` eixo y + eixo x
*/

* {
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;

    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;

    place-content: space-around;

    height: 100vh;
    width: 100vw;
    background-color: black;
}

.grid>div {
    background-color: cornflowerblue;
}