/*
    ## Propriedades fundamentais GRID

    Todo grid é composto de 2 principais grupos:
    `container: o pai` e `itens: o(s) filhos`

    --
    ### CONTAINER (pai)

    - display: grid;
    - grid-template;
        - grid-template-columns; 
        - grid-template-rows; ##
        - grid-template-areas;
    - gap;
        - row-gap; #####
        - column-gap; #####
    --

    ### ITENS (filhos)

    - grid-column;
        - grid-column-start;
        - grid-column-end;
    - grid-row;
        - grid-row-start;
        - grid-row-end;    
    - grid-area    
*/

#app>* {
    border: 1px solid red;
}

#app {
    display: grid;
    grid-template-areas:
        "A B B"
        "A B B"
        "A C D";

    gap: 30px;
    /* row-gap: 30px;
    column-gap: 30px;     */
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}

#app header {
    grid-area: A;
}

#app main {
    grid-area: B;
}